/* MAIN STYLE SHEET FOR PORTFOLIO SITE */

* {
    font-family: Gotham XNarrow A,Gotham XNarrow B,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    --text_headings: #d70757;
    --text_col0: #242424;
    --text_col1: #f5deb3;
    --text_col2: #E9EAEC;
    --background-col0: #000;
    --background-col1: #FBF8F8;
    --background-col2: #E3E4E4;
    --background-col3: #FFFAF3;
    --theme_col0: #000457;
    --theme_col1: #391F84;
    --theme_col2: #18064A;
    --theme_col3: #404040;
    --theme_col4: #242424;
    --theme-col5: #a17f00;
    --gradient_start:var(--background-col1);
}

.page {
    display: none;
}

.default-page {
    display: block;
}

:target {
    display: block;
    /* display: flex;
    flex-direction: column; */
}

:target ~ .default-page {
    display: none;
}

li {
    list-style: none;
    margin-top: 4%;
    margin-bottom: 4%; 
}

a {
    text-decoration: none;
    letter-spacing: 2px;
}

body {
    width: 100%;
    margin: 0;
    color: #242424;
    background-color: var(--background-col2);
}

.main-summary {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 35% 22% 35% 8% / 20% 80%;
    grid-template: 32% 25% 35% 8% / 20% 80%;
}

.intro-greeting {
    background-color: var(--background-col0);
    background-image: url("../images/graphics/astronaut_3.png");
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 25%;
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;   
}

.intro-greeting h2 {
    color: var(--text_col1);
    align-self: center;
    text-align: center;
    font-size: 6em;
    letter-spacing: 4px;
}

.intro-name {
    background-color: var(--theme_col0);
    grid-row: 2;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;  
}

.name-box {
    align-self: center;
    color: var(--text_col2);
    margin: 2%;
}

.name-box h1 {
    font-size: 3em;
    letter-spacing: 4px;
    margin: 0;
}

.name-box span {
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.intro-summary {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.detailText {
    font-size: 3.2vmin;
    letter-spacing: 1.5px;
    line-height: 1.6em;
}

.descrBox {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 85%;
}

.intro-summary .descrBox {
    background: linear-gradient(180deg, var(--gradient_start), transparent);
}

.intro-summary .detailText {
    align-self: center;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.intro-contact {
    background-color: var(--theme_col3);
    grid-row: 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.default-page .intro-summary {
    grid-row: 3;
    grid-column: 1 / 3;
}

.default-page .intro-summary p {
    font-size: 4vmin;
    letter-spacing: 2px;
    text-align: center;
}

.social-link {
    font-size: 0.8em;
    color: var(--text_col1);
    margin-top: 3%;
    margin-bottom: 3%;
}

.social-icon {
    max-width: 25px;
    filter: drop-shadow(2px 4px 4px #000);
    filter: opacity(0.7);
}

.social-icon:hover {
    filter: drop-shadow(2px 4px 4px #000); 
}

.main-summary .social {
    grid-row: 4;
    grid-column: 1 / 3;
    align-self: end;
    display: flex;
    justify-content: space-evenly;
    background: var(--theme_col0);
}

.summary {
    height: 100vh;
    display: grid;
    grid-template: 35% 35% 30% / 20% 20% 10% 10% 40%;
    grid-template: auto / 40% 60%;
}

.section-heading {
    display: flex;
    justify-content: space-around;
    grid-column: 1 / 3;
    align-items: center;
}









.projectsDisplay{
    display: grid;
    grid-template: 32vh auto/ 5% 90% 5%
}

.projectsContainer {
    grid-row-start: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:space-around;
    padding-top: 5%;
}

.headingView {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageTitle {
    color: var(--text_col1);
    background-color: var(--theme_col0);
    background-image: url("../images/graphics/Elements-Free-PNG-Image.png");
    background-size: cover;
}

.pageTitle h2 {
    text-align: center;
    font-size: 15vmin;
    letter-spacing: 4px;
    text-transform: lowercase;
    margin: 0;
}

.subtitle {
    width: 40%;
    font-size: 3.5vmin;
    letter-spacing: 2px;
    font-weight: 700;
}

.chat-button {
    grid-row: 3;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5%;
}

.mail-box {
    width: fit-content;
    background: var(--theme_col1);
    padding: 10px 20px;
    color: var(--text_col1);
    font-weight: 700;
    border-radius: 5px;
    /* align-self: center; */
}

.mail-box:hover {
    background: var(--theme_col4);
}


.mail-box:hover {
    background: var(--theme_col4);
} */

.section-heading {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 75%;
    margin-top: 15%;
    margin-left: 5%;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 5;
    grid-row: 2;
    background-color: var(--background-col3);
    justify-content: center;
}

.about-core {
    padding-top: 10%;
    padding-bottom: 5%;
    padding: 10% 5% 5% 10%;
}

.about-core > * {
    flex: 1 1 40%;
    font-size: 3vmin;
    letter-spacing: 2px;
    margin: 2% 4% 2% 4%;
    justify-content: space-around;
}

.about-skills {
    display: grid;
    grid-template: 40% 35% 25% / 100%;
    background-color: var(--theme_col4);
    color: var(--text_col2);
    padding-top: 5%;
}

.skill-row {
    display: grid;
    grid-template: 100% / 30% 65%;
    grid-gap: 5%;
    align-items: center;
}

.about-skills .skill-row:nth-child(3) {
    background-color: var(--theme_col2);
}

.about-skills .skill-row:nth-child(1) {
    /* background-color: var(--theme_col0); */
}

.about-skills .skill-row:nth-child(2) {
    background-color: var(--theme_col1);
}

.skill-group {
    width: 80%;
    margin-left: 10%;
    word-wrap: break-word;
    font-size: 4.6vmin;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    /* justify-self: center; */
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list > * {
    flex: 1 1 50%;
    font-size: 3vmin;
    letter-spacing: 2px;
}

.title {
    border-top: 3px solid var(--theme_col4);
    border-bottom: 3px solid var(--theme_col4);
    font-size: 10vmin;
    font-weight: 700;
    letter-spacing: 4px;
}

.title p {
    margin: 12% 2%;
}

.back-detail {
    display: none;
    grid-row: 3;
    grid-column: 2;
    width: fit-content;
    height: fit-content;
}

.back-text {
    background-color: var(--theme_col4);
    color: var(--text_col2);
    font-size: 1.8em;
    letter-spacing: 4px;
    padding: 3%;
}

.projectImg {
    width: 94%;
    height: 100%;
    max-height: 40vh;
    margin: 0 3%;
    object-fit: cover;
    object-position: center;
}

.cardImg {
    width: 55%;
}

.cardDetails {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTile {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 50vh;
    max-height: 800px;
    align-self: center;
    background-color: #d6d6d6;
    padding: 5%;
    margin-bottom: 10%;
    text-align: right;
    box-shadow: 0px 2px 10px -2px #5c5c5c;
}

.cardTile:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: left;
}

.cardTile:nth-child(odd) .cardSummary {
    align-self: flex-start;
}

.cardTile:nth-last-child(1) {
    background: none;
    box-shadow: none;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
}

.projectTitle {
    font-size: 4vmin;
    letter-spacing: 2px;
    margin: 2% 0;    
}

.projectType {
    font-size: 3vmin;
    letter-spacing: 2px;
    margin: 1% 0;
    color: var(--theme_col1);
}

.projectTech {
    display: flex;
    flex-wrap: wrap;
    
}

.projectTech span {
    margin-right: 4%;
    color: var(--theme_col2);
    font-size: 3vmin;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.projectLink {
    font-size: 3vmin;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--theme_col2);
    text-transform: uppercase;
}

.cardSummary {
    position: relative;
    width: 125%;
    width: 140%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 6% 0%;
    align-self: flex-end;
    background-color: var(--theme_col3);
    color: var(--text_col2);
}

.moreHeading {
    align-self: center;
    margin-bottom: 5%;
}

.moreContent {
    background: var(--theme_col0);
    width: 90%;
    padding: 5%;
    align-self: center;
}

.moreTextBox {
    color: var(--text_col2);
}

.moreLinks {
    width: 100%;
    height: 30%;
}

.textIcon {
    height: 35%;
    margin: 4%;
}







































/* Extending to larger mobile screens */
@media only screen and (min-width: 425px) {

}

/* Extending to tablet screens */
@media only screen and (min-width: 768px) {
    
}

/* Extending to larger laptop screens */
@media only screen and (min-width: 1024px) {
    /* .main-summary {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template: 65% 35% / 20% 20% 10% 10% 40%;
    }
    
    .intro-greeting {
        background-color: var(--background-col0);
        background-image: url("../images/graphics/astronaut_3.png");
        background-size: 175%;
        background-repeat: no-repeat;
        background-position: top;
        background-position-y: 25%;
        grid-row: 1;
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;   
    }
    
    .intro-greeting h2 {
        color: var(--text_col1);
        align-self: center;
        text-align: center;
        font-size: 9em;
        letter-spacing: 4px;
    }
    
    .intro-name {
        background-color: var(--theme_col0);
        grid-row: 2;
        grid-column: 1 / 5;
        display: flex;
        justify-content: center;  
    }
    
    .name-box {
        align-self: center;
        color: var(--text_col2);
        margin: 2%;
    }
    
    .name-box h1 {
        font-size: 5em;
        letter-spacing: 4px;
        margin: 0;
    }
    
    .name-box span {
        display: inline-block;
        font-size: 3em;
        letter-spacing: 2px;
    }
    
    .intro-summary {
        grid-row: 1 / 3;
        grid-column: 3 / 6;
        display: flex;
        justify-content: center;
    }
    
    .detailText {
        font-size: 1.1em;
        letter-spacing: 1.5px;
        line-height: 1.6em;
    }
    
    .descrBox {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 85%;
    }
    
    .intro-summary .descrBox {
        background: linear-gradient(180deg, var(--gradient_start), transparent);
    }
    
    .intro-summary .detailText {
        align-self: center;
        width: 85%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .intro-contact {
        background-color: var(--theme_col3);
        grid-row: 2;
        grid-column: 5;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    .default-page .intro-summary {
        grid-row: 1;
        grid-column: 5;
        display: flex;
        justify-content: flex-start;
    }
    
    .default-page .intro-summary p {
        font-size: 1.4em;
        letter-spacing: 2px;
        text-align: left;
    }
    
    .social-link {
        color: var(--text_col1);
        margin-bottom: 4%;
    }
    
    .social-icon {
        max-width: 35px;
        filter: drop-shadow(2px 4px 4px #000);
        filter: opacity(0.7);
    }
    
    .social-icon:hover {
        filter: drop-shadow(2px 4px 4px #000); 
    }
    
    .main-summary .social {
        grid-row: 2;
        grid-column: 1 / 3;
        align-self: end;
        display: flex;
        justify-content: space-evenly;
    }
    
    .summary {
        height: 100vh;
        display: grid;
        grid-template: 35% 35% 30% / 20% 20% 10% 10% 40%;
    } */








    
    /* .projectsDisplay{
        display: grid;
        grid-template: 8% 4% 2% auto / 10% 30% 10% 20% 20% 10%;
        grid-template: 40vh 20vh 5vh 15vh 20vh auto / 10% 30% 10% 20% 20% 10%;
    }
    
    .projectsContainer {
        grid-row-start: 4;
        grid-row-end: 8;
        grid-column: 2 / 6;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:space-around;
    }
    
    .headingView {
        grid-column: 1 / 3;
        grid-row: 1 / 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .pageTitle {
        color: var(--text_col1);
        background-color: var(--theme_col0);
        background-image: url("../images/graphics/Elements-Free-PNG-Image.png");
        background-size: cover;
    }
    
    .pageTitle h2 {
        text-align: center;
        font-size: 5.5em;
        letter-spacing: 4px;
        text-transform: lowercase;
        margin: 0;
    }
    
    .subtitle {
        width: 50%;
        font-size: 1.2em;
        letter-spacing: 2px;
        font-weight: 700;
    }
    
    .chat-button {
        grid-row: 2;
        grid-column: 3 / 6;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 10%;
    }
    
    .mail-box {
        width: fit-content;
        background: var(--text_headings);
        background: var(--theme_col1);
        padding: 15px 40px;
        color: var(--text_col1);
        font-weight: 700;
        border-radius: 25px;
        /* align-self: center; */
    /* } */
    
    /* .mail-box:hover {
        background: var(--theme_col4);
    }
    
    .section-heading {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 75%;
        margin-top: 15%;
        margin-left: 5%;
    }
    
    .section-content {
        display: flex;
        flex-wrap: wrap;
        grid-column: 3 / 6;
        grid-row: 1 / 4;
        background-color: var(--background-col3);
        justify-content: center;
    }
    
    .about-core {
        padding-top: 10%;
        padding-bottom: 5%;
        padding: 10% 5% 5% 10%;
    }
    
    .about-core > * {
        flex: 1 1 35%;
        font-size: 1.0em;
        font-size: 1.1em;
        letter-spacing: 2px;
        margin: 2% 4% 2% 4%;
        justify-content: space-around;
    }
    
    .about-skills {
        display: grid;
        grid-template: 40% 35% 25% / 100%;
        background-color: var(--theme_col4);
        color: var(--text_col2);
        padding-top: 5%;
    }
    
    .skill-row {
        display: grid;
        grid-template: 100% / 35% 60%;
        grid-gap: 5%;
        align-items: center;
    }
    
    .about-skills .skill-row:nth-child(3) {
        background-color: var(--theme_col2);
    }
    
    .about-skills .skill-row:nth-child(2) {
        background-color: var(--theme_col1);
    }
    
    .skill-group {
        width: 80%;
        margin-left: 15%;
        word-wrap: break-word;
        font-size: 3em;
        letter-spacing: 4px;
    }
    
    .skills-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .skills-list > * {
        flex: 1 1 50%;
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    
    .title {
        border-top: 3px solid var(--theme_col4);
        border-bottom: 3px solid var(--theme_col4);
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 4px;
    }
    
    .title p {
        margin: 12% 2%;
    }
    
    .back-detail {
        grid-row: 3;
        grid-column: 2;
        width: fit-content;
        height: fit-content;
    }
    
    .back-text {
        background-color: var(--theme_col4);
        color: var(--text_col2);
        font-size: 1.8em;
        letter-spacing: 4px;
        padding: 3%;
    }
    
    .projectImg {
        width: 94%;
        height: 100%;
        max-height: 40vh;
        margin: 0 3%;
        object-fit: cover;
        object-position: center;
    }
    
    .cardImg {
        width: 55%;
    }
    
    .cardDetails {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .cardTile {
        display: flex;
        width: 90%;
        max-width: 1000px;
        height: 40vh;
        max-height: 800px;
        align-self: center;
        background-color: #d6d6d6;
        padding: 5%;
        margin-bottom: 10%;
        text-align: right;
        box-shadow: 0px 2px 10px -2px #5c5c5c;
    }
    
    .cardTile:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: left;
    }
    
    .cardTile:nth-child(odd) .cardSummary {
        align-self: flex-start;
    }
    
    .cardTile:nth-last-child(1) {
        background: none;
        box-shadow: none;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        padding-right:0%;
    }
    
    .projectTitle {
        font-size: 1.4em;
        letter-spacing: 2px;
        margin: 2% 0;    
    }
    
    .projectType {
        font-size: 1em;
        letter-spacing: 2px;
        margin: 1% 0;
        color: var(--theme_col1);
    }
    
    .projectTech {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .projectTech span {
        margin-right: 4%;
        color: var(--theme_col2);
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    
    .projectLink {
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 2px;
        color: var(--theme_col2);
        text-transform: uppercase;
    }
    
    .cardSummary {
        position: relative;
        width: 125%;
        width: 140%;
        height: 12vh;
        display: flex;
        justify-content: center;
        padding: 6% 0%;
        align-self: flex-end;
        background-color: var(--theme_col3);
        color: var(--text_col2);
    }
    
    .moreHeading {
        transform: rotate(-90deg);
        align-self: center;
    }
    
    .moreContent {
        background: var(--theme_col0);
        width: 55%;
        padding: 5%
    }
    
    .moreTextBox {
        color: var(--text_col2);
    }
    
    .moreLinks {
        width: 100%;
        height: 30%;
    }
    
    .textIcon {
        height: 35%;
        margin: 4%;
    } */
    
}


/* Extending to larger laptop screens */
@media only screen and (min-width: 4444px) {

}