/* MAIN STYLE SHEET FOR PORTFOLIO SITE */



:root {
    font-family: Gotham XNarrow A,Gotham XNarrow B,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    --text_col0: #000000;
    --text_col1: #f5deb3;
    --text_col2: #dfdfdf;
    --text_col3: #dfdfdf;
    --text_col4: #242424;

    --color1: #212121;
    --color2: #000000;

    --background_col1: #fbfbf8;
    --background_col2: #dfdfdf;
    --background_col3: #fffaf3;

    --theme_col1: #391F84;
    --theme_col2: #010059;
    --theme_col4: #242424;
    --theme_col5: #02009f;

    --theme_col7: #151515;
    --theme_col8: #dfdfdf;

    --border_col: #bdbdbd;
    --border_shadow1: #000;
    --border_shadow2: #afafaf;
    --border_shadow3: #ababab;


    --tile_shadow: #5c5c5c;
    --line_col0: #000000;
    --gradient_start: var(--background_col1);
    --img_filter: none;
}

[data-theme="dark"] {
    --background_col1: #191919;
    --background_col2: #272727;
    --background_col3: #191919;

    --text_col0: #e1e1e1;
    --text_col0: #bdbdbd;
    --text_col3: #636361;
    --text_col3: #2fc1fa;
    --text_col4: #2fc1fa;

    --color2: #f5deb3;

    --theme_col2: #141414;
    --theme_col4: #191919;
    --theme_col5: #2fc1fa;
    
    --theme_col8: #7910ff;
    --theme_col8: #636361;

    --border_col: #191919;
    --border_shadow2: #060606;
    --tile_shadow: #080808;

    --img_filter: invert(1);

}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
    height: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--color1, #000);
    border-width: 3px;
    border-style: solid;
    border-color: var(--color1);
    box-shadow: inset 0 0 4px 1px #000000;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
    border: 0.5px solid black;
}

.page {
    display: none;
}

.default-page {
    display: block;
}

:target {
    display: block;
    /* display: flex;
    flex-direction: column; */
}

:target ~ .default-page {
    display: none;
}

li {
    list-style: none;
    margin-top: 4%;
    margin-bottom: 4%; 
}

a {
    text-decoration: none;
    letter-spacing: 2px;
}

body {
    width: 100%;
    margin: 0;
    color: #242424;
    color: var(--text_col0);
    background-color: var(--background_col2);
}

.main-summary {
    height: 100vmax;
    width: 100%;
    display: grid;
    grid-template: 32% 25% 35% 8% / 20% 80%;
}

.main-contact {
    height: 125vmax;
}

.about-view .main-summary {
    border-bottom: 1px solid #dcdcdc;
    border-bottom-color: var(--border_col);
    box-shadow: 0px 0px 6px 1px var(--border_shadow2);
}

.intro-greeting {
    background-color: #000000;
    background-image: url("../images/graphics/loetCartoon_dottedCol.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;   
}

.intro-greeting h2 {
    color: var(--text_col1);
    align-self: center;
    text-align: center;
    font-size: 6em;
    letter-spacing: 4px;
}

.intro-name {
    background-color: var(--theme_col2);
    background-image: url("../images/graphics/Elements-Free-PNG-Image.png");
    background-size: cover;
    grid-row: 2;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    box-shadow: 2px 0px 6px 0px #000;  
}

.name-box {
    align-self: center;
    color: var(--text_col1);
    margin: 2%;
}

.name-box h1 {
    font-size: 3em;
    letter-spacing: 4px;
    margin: 0;
}

.name-box span {
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.intro-summary {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.detailText {
    font-size: 4vmin;
    letter-spacing: 1.5px;
    line-height: 1.6em;
}

.descrBox {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 85%;
}

.intro-summary .descrBox {
    background: linear-gradient(180deg, var(--gradient_start), transparent);
}

.intro-summary .detailText {
    align-self: center;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.intro-contact {
    background-color: var(--theme_col4);
    grid-row: 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: 2px 0px 6px 0px #000;
}

.default-page .intro-summary {
    grid-row: 3;
    grid-column: 1 / 3;
}

.default-page .intro-summary p {
    letter-spacing: 2px;
    text-align: center;
}

.social-link {
    font-size: 2.4vmin;
    color: var(--text_col1);
    align-self: center;
}

.social-icon {
    width: 25px;
    filter: opacity(0.7);
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icon:hover {
    filter: drop-shadow(2px 4px 4px #000); 
}

.main-summary .social {
    grid-row: 4;
    grid-column: 1 / 3;
    align-self: end;
    display: flex;
    justify-content: space-evenly;
    background: var(--theme_col4);
    visibility: hidden;
}

.contacts-view .social {
    visibility: visible;
}

.summary {
    height: 100vmax;
    display: grid;
    grid-template: 35% 35% 30% / 20% 20% 10% 10% 40%;
    grid-template: 27% auto / 40% 60%;
}

.main-core {
    height: 125vmax;
    grid-template: 27vmax auto / 40% 60%;
}

.section-heading {
    display: flex;
    justify-content: space-around;
    grid-column: 1 / 3;
    align-items: center;
}

.projectsDisplay{
    display: grid;
    grid-template: 32vmax auto/ 5% 90% 5%
}

.projectsContainer {
    grid-row-start: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:space-around;
    padding-top: 15%;
}

.headingView {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 0px 6px 0px #000;
}

.pageTitle {
    color: var(--text_col1);
    background-color: var(--theme_col2);
    background-image: url("../images/graphics/Elements-Free-PNG-Image.png");
    background-size: cover;
}

.pageTitle h2 {
    text-align: center;
    font-size: 15vmin;
    letter-spacing: 4px;
    text-transform: lowercase;
    margin: 0;
}

.subtitle {
    width: 40%;
    font-size: 3.5vmin;
    letter-spacing: 2px;
    font-weight: 700;
}

.chat-button {
    grid-row: 3;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5%;
}

.mail-box {
    width: fit-content;
    background: var(--theme_col2);
    padding: 10px 20px;
    color: var(--text_col1);
    font-weight: 700;
    border-radius: 5px;
}

.mail-box:hover {
    background: var(--theme_col5);
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 5;
    grid-row: 2;
    background-color: var(--background_col3);
    justify-content: center;
    box-shadow: 0px 0px 6px 1px var(--border_shadow2);
}

.about-core {
    padding: 10% 5% 5% 5%;
}

.about-core > * {
    flex: 1 1 40%;
    font-size: 3.6vmin;
    letter-spacing: 2px;
    margin: 2% 4% 2% 4%;
    justify-content: space-around;
}

.about-skills {
    display: grid;
    grid-template: 40% 35% 25% / 100%;
    background-color: var(--theme_col4);
    color: var(--text_col2);
}

.skill-row {
    display: grid;
    grid-template: 100% / 35% 60%;
    grid-gap: 5%;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-skills .skill-row:nth-child(odd) {
    background-color: var(--theme_col2);
}

.about-skills .skill-row:nth-child(2) {
    background-color: var(--theme_col4);
}

.skill-group {
    width: 92%;
    word-wrap: break-word;
    font-size: 4.6vmin;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    color : var(--theme_col8);
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}

.skills-list > * {
    flex: 1 1 50%;
    font-size: 3.6vmin;
    letter-spacing: 2px;
}

.title {
    font-size: 8vmin;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--text_col4);
    border-top: 3px solid var(--text_col4);
    border-bottom: 3px solid var(--text_col4);
}

.title p {
    margin: 10% 0%;
}

.back-detail {
    display: none;
    grid-row: 3;
    grid-column: 2;
    width: fit-content;
    height: fit-content;
}

.projectImg {
    width: 94%;
    height: 100%;
    margin: 0 3%;
    object-fit: cover;
    object-position: center;
}

.cardImg {
    width: 55%;
}

.cardDetails {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTile {
    display: flex;
    width: 90%;
    height: 48vmax;
    max-width: 800px;
    max-height: 820px;
    align-self: center;
    background-color: var(--background_col1);
    padding: 5%;
    margin-bottom: 15%;
    text-align: right;
    box-shadow: 0px 2px 10px -2px var(--tile_shadow);
}

.cardTile:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: left;
}

.cardTile:nth-child(odd) .cardSummary {
    align-self: flex-start;
}

.cardTile:nth-last-child(1) {
    height: auto;
    width: 95%;
    background: none;
    box-shadow: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.projectTitle {
    font-size: 4vmin;
    letter-spacing: 2px;
    margin: 2% 0;    
}

.projectType {
    font-size: 2.6vmin;
    letter-spacing: 2px;
    margin: 1% 0;
    color: var(--theme_col5);
}

.projectTech {
    display: flex;
    flex-wrap: wrap;   
}

.projectTech span {
    margin-right: 4%;
    color: var(--theme_col5);
    font-size: 2.5vmin;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.projectLink {
    font-size: 3vmin;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text_col0);
    text-transform: uppercase;
}

.cardSummary {
    position: relative;
    width: 140%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 6% 0%;
    align-self: flex-end;
    background-color: var(--theme_col4);
    color: var(--text_col2);
}

.cardSummary .detailText {
    color: var(--text_col2);
}

.moreHeading {
    align-self: center;
    width: 45%;
    margin-right: 5%;
}

.moreContent {
    background-color: var(--theme_col2);
    padding: 5%;
    align-self: center;
}

.moreTextBox {
    color: var(--text_col2);
}

.moreLinks {
    width: 100%;
    height: 30%;
    margin-top: 5%;
}

.textIcon {
    height: 7vmin;
    margin: 5% 4%;
}

/* NAVIGATION */
.nav-container {
    /* background: #0f1210; */
    text-decoration: none;
    position: fixed;
    width: 100vw;
    top: 0%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    width: fit-content;
    height: 100%;
    margin: auto 0%;
    margin-left: 4px;
    text-decoration: none;
}

.brand-logo .img-icon {
    width: 80%;
    height: auto;
    max-width: 45px;
    min-width: 30px;
    margin-top: 4px;
    padding: 3px 6px;
    background-color: #151515;
    background-color: var(--theme_col7); 
    box-shadow: 2px 2px 10px 0px #000000d6;
}

.menu-container {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding-left: 5px;
    background-color: var(--background_col2);
    box-shadow: 8px 2px 10px 0px #000;
}

.burger-right {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 5%;
}

.nav-link {
    color: var(--theme_col5);
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 2.4vmin;
}

.nav-container {
    top: 0;
    transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.scrollDown {
    top: -55px;
}

.mode-switch-wrapper {
    display: flex;
    align-items: center;
}

.mode-switch {
    display: inline-block;
    height: 65%;
    position: relative;
    width: 60px;
}

.mode-switch input {
    display: none;
}

.toggle {
    background-color: var(--background_col1);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 8%;
    top: 0;
    transition: 0.5s;
    box-shadow: inset 0px 0px 3px 2px var(--border_shadow2);
}

.toggle:before {
    background-color: var(--background_col2);
    position: absolute;
    content: "";
    height: 80%;
    width: 35%;
    left: 6%;
    bottom: 11%;
    transition: 0.5s;
    box-shadow: inset 0px 0px 3px 2px var(--border_shadow2);
}

input:checked + .toggle:before {
    transform: translateX(26px);
}

.toggle.round {
    border-radius: 40px;
}

.toggle.round:before {
    border-radius: 50%;
}

/* PROJECTS PAGE */
.bottom-nav #project-1 {
    background-image: url("../images/project_imgs/MasterMind/MM_CoverImage.png");
}

.bottom-nav #project-2 {
    background-image: url("../images/project_imgs/BlogApp/BlogApp_CoverImage.jpg");
}

.bottom-nav #project-3 {
    background-image: url("../images/project_imgs/FringeMemory/FringeMemory_CoverImage.png");
}

.bottom-nav #project-4 {
    background-image: url("../images/thumbnails/green_white_coverImage.jpg");
}

a {
    color: #fff;
}

#mastermind-gems .project-details{
    background-color: #480102;
}

#blogging-app .project-details {
    background-color: #10022e;
}

#fringe-memory .project-details {
    background: #285554;
}

.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.project-home {
    width: 100%;
    display: grid;
    grid-template: 55% 45% / 100%;
    font-size: 7vmin;
    letter-spacing: 1.5px;
    background: #d0d0d02b;
    background-color: var(--background_col4);
}

.hero-right {
    grid-row: 1;
}

.hero-left {
    grid-row: 2;
    margin: auto;
}

.hero-right .project-img {
    height: -webkit-fill-available;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 40% 50%;
       object-position: 40% 50%;
    -webkit-filter: saturate(1.85);
            filter: saturate(1.85);
}

.project-heading {
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
    overflow-wrap: break-word;
    max-width: 600px;
}

.project-title {
    font-weight: 700;
    font-size: 85%;
    color: var(--color2);
}

.project-subtitle {
    width: 86%;
    margin: 0 7%;
    font-size: 65%;
}

.project-details {
    display: grid;
    grid-template: auto / 50% 50%;
    background-color: #171149;
    padding: 5% 0;
    box-shadow: 0px 2px 6px 3px #0000005c;
}

.info-column {
    width: 86%;
    margin: 0% 7% 5% 7%;
    font-size: 22px;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
}

.info-column h3 {
    color: #f5deb3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 85%;
    letter-spacing: 2px;
}

.info-column .descr-text {
    overflow-wrap: normal;
    color: #fff;
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.info-column .tech-text {
    line-height: 2.0rem;
}

.detail-col {
    grid-row: 1;
    grid-column: 1 / 3;
}

.tech-col {
    grid-row: 2;
    grid-column: 1;
    margin-left: 14%;
}

.link-col {
    grid-row: 2;
    grid-column: 2;
    margin-left: 10%;
}

.text-link {
    font-size: 80%;
}

.p-demo-container {
    width: 100%;
    padding: 8% 0;
    margin: auto;
}

.p-demo-container img {
    -webkit-filter: drop-shadow(2px 6px 6px #000);
            filter: drop-shadow(2px 6px 6px #000);
    width: auto;
    height: auto;
    max-height: 49vh;
    max-width: 85vw;
    display: block;
    margin: auto;
}

.img-slider {
    width: 94%;
    display: -webkit-box;
    -webkit-box-align: center;
    overflow-x: scroll;
    margin: auto;
    padding: 8% 0;
}

.img-card {
    margin: auto 4%;
}

.img-card img {
    width: auto;
    max-height: 49vh;
    max-width: 85vw;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-filter: drop-shadow(2px 6px 6px #000);
            filter: drop-shadow(2px 6px 6px #000);
}

.nav-slider, .project-previews {
    width: 100%;
    position: relative;
}

.nav-slider .vertical-lines, .project-previews .vertical-lines {
    background: #1e1e1c;
    background: var(--color1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.vertical-lines span {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #000000;
    background-color: var(--line_col0);
    transition-delay: 0.5s;
    transition: height 0.8s ease-in-out;
}

.vertical-lines span.line1 {
    left: 3%;
    transition: height 0.8s ease-in-out;
}

.vertical-lines span.line2 {
    left: 34%;
    transition: height 0.8s ease-in-out;
}

.vertical-lines span.line3 {
    left: 66%;
    transition: height 0.8s ease-in-out;
}

.vertical-lines span.line4 {
    left: 96.9%;
    transition: height 0.8s ease-in-out;
}

.p-links-container {
    width: 86%;
    margin: auto 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0;
}

.project-links {
    width: 100%;
    padding: 5% 0;
    font-size: 22px;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    text-align: center;
    box-shadow: 2px 0px 6px 3px #0000005c;
}

.p-links-title {
    margin: auto;
    width: 80%;
    text-align: center;
}

.p-links-title h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 4% 0;
    color: var(--color2);
}

.p-links-title p {
    font-size: 85%;
}

.single-project-link p {
    font-size: 85%;
}

.single-project-link .external-link img {
    width: auto;
    height: 60%;
    max-height: 55px;
    margin: auto;
}

.github-logo {
    filter: var(--img_filter);
}

.bottom-nav {
    width: 94%;
    display: flex;
    justify-content: space-between;
    padding: 8% 0;
    margin: auto;
}

.bottom-nav .nav-col {
    border: 1px solid #000;
    -webkit-filter: drop-shadow(2px 6px 6px #000);
            filter: drop-shadow(2px 6px 6px #000);
    border-radius: 2px;
    background: #000;
    background-size: cover;
}

.bottom-nav a {
    display: flex;
    text-decoration: none;
    width: 22%;
    max-width: 250px;
    word-break: break-word;
}

.bottom-nav p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 3vmin;
    color: #f5deb3;
    letter-spacing: 2px;
    padding: 25% 0%;
    margin: auto;
    -webkit-filter: inherit;
            filter: inherit;    
}

/* PROJECTS PAGE FOOTER */
.page-footer {
    background-color: #151515;
    background-color: var(--theme_col7);
    color: #f5deb3;
    color: var(--text_col1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-footer span {
    color: #f5deb3;
    color: var(--text_col1);
    text-align: center;
    padding: 1% 0;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.page-footer .contact-links {
    width: 80%;
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}


@media only screen and (min-width: 620px) {
    a {
        font-size: 1.0em;
    }

    .nav-link {
        font-size: 1em;
    }
    .detailText {
        font-size: 1.1em;
    }

    .social-link {
        font-size: 1em;
    }

    .burger-right {
        width: 85%;
    }

    .pageTitle h2 {
        font-size: 5em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    .title {
        font-size: 3em;
    }

    .about-core > * {
        font-size: 1.2em;
    }

    .skill-group {
        font-size: 2em;
        transform: rotate(0deg);
        margin-left: 8%;
        text-align: center;
    }
    
    .skills-list > * {
        font-size: 1em;
    }

    .projectTitle {
        font-size: 1.4em;  
    }
    
    .projectType {
        font-size: 1em;
    }

    .projectTech span {
        font-size: 1em;
    }
    
    .projectLink {
        font-size: 1.2em;
    }

    .textIcon {
        height: 1.55em;
        margin: 5% 4%;
    }

    .social-icon {
        width: 30px;
    }

}

/* Extending to tablet screens */
@media only screen and (min-width: 769px) {
    /* Changing only the landing page design screen */
    .main-summary {
        height: 100vh;
    }

    .projectsDisplay{
        display: grid;
        grid-template: 32vh auto/ 5% 90% 5%
    }

    .brand-logo .img-icon {
        width: 90%;
        max-width: 55px;
        min-width: 40px;
        margin-top: 4px;
        padding: 5px 10px;
    }

    .menu-container {
        width: 50%;
    }

    .nav-link {
        font-size: 1em;
    }

    /* PROJECTS PAGE */
    .project-home {
        grid-template: 100% / 50% 50%;
    }

    .hero-right {
        grid-column: 2;
    }

    .hero-left {
        grid-row: 1;
        margin: auto;
    }
    
    .hero-right .project-img {
        height: 150%;
    }  
    
    .project-heading {
        text-align: left;
        margin-left: 5%;
    }

    .project-subtitle {
        margin: 0;
        font-size: 40%;
    }

    .project-details {
        display: flex;
        padding: 2% 0;
    }

    .info-column {
        width: 35%;
        margin: 2% 5%;
    }

    .info-column h3 {
        font-size: 100%;
    }

    .detail-col {
        width: 100%;
        margin: 2% 5%;
    }

    .p-demo-container {
        width: 100%;
        padding: 4% 0;
    }

    .p-demo-container img {
        max-height: 50vh;
        max-width: 80vw;
    }

    .img-slider {
        padding: 5% 0;
    }

    .img-card img {
        max-height: 50vh;
        max-width: auto;
        width: auto;
    }

    .p-links-container {
        width: 95%;
        margin: auto;
        flex-direction: row;
    }

    .single-project-link {
        align-self: center;        
    }

    .single-project-link p {
        font-size: 80%;
    }

    .single-project-link .external-link img {
        max-height: 80px;
        margin: auto;
    }
    
    .bottom-nav {
        padding: 5% 0;
    }

    .bottom-nav p {
        font-size: 110%;
    }

    .bottom-nav a {
        width: 22vmin;
        height: 22vmin;
        max-width: 280px;
        max-height: 280px;
    }

    .page-footer span {
        font-size: 1.0em;
    }

    .page-footer .contact-links {
        width: 50%;
    }

    /* mode switch */
    .mode-switch {
        width: 70px;
        height: 70%;
    }

    .toggle:before {
        width: 40%;
        left: 8%;
    }
    
    

    /* mode switch */
}

/* Extending to laptop screens */
@media only screen and (min-width: 1024px) {
    /*Just above the 1024 boundary*/
    .main-summary {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template: 65% 35% / 20% 20% 10% 10% 40%;
    }

    .intro-greeting h2 {
        font-size: 10em;
    }
    
    .name-box {
        align-self: center;
        margin: 2%;
    }
    
    .name-box h1 {
        font-size: 7em;
    }

    .name-box span {
        font-size: 2.5em;
    }
    
    .intro-summary {
        grid-row: 1 / 3;
        grid-column: 3 / 6;
        display: flex;
        justify-content: center;
    }
    
    .detailText {
        font-size: 1.1em;
        line-height: 1.6em;
    }

    .intro-contact {
        grid-row: 2;
        grid-column: 5;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    .default-page .intro-summary {
        grid-row: 1;
        grid-column: 5;
        display: flex;
        justify-content: flex-start;
    }
    
    .default-page .intro-summary p {
        font-size: 1.8em;
        letter-spacing: 2px;
        text-align: left;
    }

    .social-link {
        align-self: flex-end;
    }

    .main-summary .social {
        grid-row: 2;
        grid-column: 1 / 3;
        align-self: end;
        display: flex;
        justify-content: space-evenly;
        visibility: visible;
        background: none;
    }
    
    .summary {
        height: 100vh;
        display: grid;
        grid-template: 35% 35% 30% / 20% 20% 10% 10% 40%;
    }

    .projectsDisplay{
        display: grid;
        grid-template: 40vh 20vh 5vh 15vh 20vh auto / 10% 30% 10% 20% 20% 10%;
    }
    
    .projectsContainer {
        grid-row-start: 4;
        grid-row-end: 8;
        grid-column: 2 / 6;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:space-around;
        padding-top: 0%;
    }
    
    .headingView {
        grid-column: 1 / 3;
        grid-row: 1 / 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .pageTitle h2 {
        font-size: 5.5em;
    }
    
    .subtitle {
        width: 60%;
        font-size: 1.2em;
    }

    .chat-button {
        grid-row: 2;
        grid-column: 3 / 6;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 10%;
    }
    
    .mail-box {
        width: fit-content;
        padding: 15px 40px;
        border-radius: 25px;
    }
    
    .section-heading {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 75%;
        margin-top: 15%;
        margin-left: 5%;
        justify-content: flex-start;
    }
    
    .section-content {
        display: flex;
        flex-wrap: wrap;
        grid-column: 3 / 6;
        grid-row: 1 / 4;
        justify-content: center;
    }

    .about-core {
        padding: 15% 5% 5% 10%;
    }

    .about-core > * {
        flex: 1 1 40%;
        font-size: 1.1em;
        letter-spacing: 2px;
        margin: 2% 4% 2% 4%;
        justify-content: space-around;
    }

    .about-skills {
        display: grid;
        grid-template: 40% 30% 30% / 100%;
    }
    
    .skill-row {
        display: grid;
        grid-template: 100% / 35% 60%;
        grid-gap: 5%;
        align-items: center;
    }

    .skill-group {
        width: 80%;
        margin-left: 5%;
    }

    .skills-list > * {
        flex: 1 1 50%;
        font-size: 1.1em;
        letter-spacing: 2px;
    }

    .title {
        font-size: 4em;
    }

    .back-detail {
        display: block;
    }
    
    .back-text {
        background-color: var(--theme_col4);
        color: var(--text_col3);
        font-size: 2.2em;
        letter-spacing: 4px;
        padding: 3% 6%;
        position: relative;
        bottom: 25%;
    }

    .cardImg {
        width: 55%;
    }
    
    .cardDetails {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .cardTile {
        height: 50vh;
        max-height: 840px;
    }

    .cardSummary {
        height: 15vh;
    }
    
    .moreHeading {
        transform: rotate(-90deg);
        align-self: center;
    }
    
    .moreContent {
        width: 65%;
        padding: 5%;
    }

    .moreLinks {
        margin-top: 10%;
    }
    
    .textIcon {
        height: 4vh;
        margin: 4%;
        max-width: 220px;
        max-height: fit-content;
    }
    
    
}


/* Extending to larger desktop screens */
@media only screen and (min-width: 4444px) {

}

/* font-family: "PTSerif",Georgia,serif; */