/* MAIN STYLE SHEET FOR PORTFOLIO SITE */


* {
    font-family: Gotham XNarrow A,Gotham XNarrow B,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    --text-headings: #d70757;
}

li {
    list-style: none;
    margin-top: 4%;
    margin-bottom: 4%; 
}

a {
    text-decoration: none;
}

body {
    background-color: #020202;
    background-image: url("../images/graphics/dark-mosaic_darker.png");
    background-size: auto;
    color: #f5deb3;
    width: 100%;
    margin: 0;
}

.page {
    display: none;
}

.default-page {
    display: block;
}

:target {
    display: block;
}

:target ~ .default-page {
    display: none;
}

.home-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../images/graphics/Astronauts_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.arrow-img {
    width: 25%;
    max-width: 55px;
}

.scroll-tip {
    display: flex;
    justify-content: space-around;
    transform: rotate(90deg);
    position: absolute;
    bottom: 5%;
    right: -5%;
}

.landing-page .scroll-tip {
    display: flex;
    justify-content: space-around;
    transform: rotate(90deg);
    position: absolute;
    bottom: 10%;
    right: -17%;
}

.scroll-tip .tip-text {
    font-size: 0.9em;
}

.intro-nav {
    width: 80%;
    height: 75vh;
    margin: 15vh 10% 5vh 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-link {
    background: #171717;
    background: #090909;
    background: #151515;
    background-image: url("../images/graphics/dark-mosaic.png");
    background-size: cover;
    height: 22vh;
    display: flex;
    justify-content: center;
}

.nav-details {
    width: 75%;
    align-self: center;
    color: #f5deb3;
    font-size: 4vmin;
    text-align: center;
    letter-spacing: 2px;
}

.nav-details h3{
    font-size: 1.5em;
    color: #d70757;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.intro-greeting {
    width: 80%;
    margin-left: 10%;
}

.intro-greeting h2 {
    text-align: center;
    font-size: 20vmin;
    color: #d70757;
}

.intro-details {
    width: 85%;
    margin: 0% 5%;
    position: relative;
    bottom: 4%;
    background: #000000f0;
    background-image: url("../images/graphics/dark-mosaic.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name-box {
    align-self: center;
}

.name-box h1 {
    font-size: 15vmin;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    margin-bottom: 5%;
}

.name-box span{
    font-size: 7vmin;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    bottom: 5%;
}

.descr-box {
    font-size: 4.2vmin;
    letter-spacing: 2px;
    margin-left: 15%;
    margin-right: 0%;
}

.landing-page .descr-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.highlight-text {
    color: #00e7bf;
    color: #d70757;
    font-weight: 700;
}

.page-footer {
    background: black;
    text-align: center;
    margin: 5% 0 0 0;
    padding: 2% 0%;
    letter-spacing: 1px;
}

.summary {
    display: grid;
    grid-template: 15% 10% 70%/ 25% 55% 10% 10%;
    grid-template: auto / 25% 55% 10% 10%;
    grid-column-gap: 0;
    grid-row-gap: 0%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 5% 0;
}

.contacts-view .summary {
    height: 95vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

.background-text {
    font-size: 2.4em;
    font-size: 10vmin;
    letter-spacing: 2px;
    color: #404040;
    /*position: relative;
    left: 3%;
    bottom: 4%;*/
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-wrap: break-word;
    align-self: center; 
}

.background-text p {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 6%;
}

.main-about .background-text {
    display: none;
}

.section-title {
    display: block;
    text-align: right;
    margin-right: 2%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    align-self: center;
}

.section-title h2 {
    font-size: 2.5em;
    font-size: 10vmin;
    margin: 0;
    color: #d70757;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section-title p {
    width: 40%;
    margin-left: 55%;
    margin-right: 2%;
    font-size: 1em;
    font-size: 3vmin;
    letter-spacing: 2px;
    line-height: 1.8em;
    background: #131313;
    padding: 2%;
}

.main-about .section-title, .main-projects .section-title, .main-contacts .section-title {
    align-self: start;
}

.section-info {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.about-core, .about-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 8%;
}

.about-skills > *, .about-core > * {
    flex: 1 1 34%;
    font-size: 1.1em;
    font-size: 4vmin;
    letter-spacing: 2px;
    margin: 5% 4% 4% 4%;
}

.about-core > *{
    flex: 1 1 40%;
}

.skills-list {
    padding-left: 0%;
    margin-left: 5%;
    margin-top: 2%;
}

.contact-links{
    grid-row: 4;
    grid-column: 2;
    width: 70%;
    align-self: center;
    position: relative;
    left: 10%;
    display: grid;
    grid-template: 45% 45% / 100%;
    grid-row-gap: 25%;
}

.mail-box {
    width: fit-content;
    align-self: center;
    justify-self: center;
    padding: 4% 20%;
    border-radius: 40px;
    background: #d70757;
    text-decoration: none;
    color: #f5deb3;
    font-size: 1.4em;
    font-size: 4.5vmin;
}

/* For links below contact button
.social-links {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
}*/

.social-links {
    position: absolute;
    width: 25%;
    right: -75%;
    align-self: center;
}

.projects-view .social-links {
    width: 15%;
    left: 2%;
    bottom: 2%;
}

.social-icon {
    width: 100%;
    max-width: 30px;
    min-width: 20px;
    margin: 15%;
}

.mail-box:hover {
    background: #404040;
}

/* Media Queries */

/* Extending to larger mobiles above 425px */
@media only screen and (min-width: 425px) {
    .intro-greeting h2 {
        font-size: 8em;
    }

    .nav-details {
        font-size: 1em;
    }

    .nav-details h3 {
        font-size: 1.4em;
    }

    .name-box h1 {
        font-size: 5em;
    }
    
    .name-box span{
        font-size: 2em;
    }

    .descr-box {
        font-size: 1.2em;
    }

    .about-main .descr-box {
        max-width: 500px;
    }

    .landing-page .descr-box {
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    }

    .landing-page .scroll-tip {
        bottom: 10%;
        right: -12%;
    }

    .section-title h2 {
        font-size: 3em;
        margin: 0;
    }
    
    .section-title p {
        font-size: 1em;
    }

    .about-core, .about-skills {
        margin-left: 10%;
    }

    .about-skills > *, .about-core > * {
        font-size: 1.1em;
        margin: 6% 5%;
    }

    .mail-box {
        font-size: 1.4em;
    } 

    .social-links {
        width: 20%;
        right: -80%;
    }
}

/* Extending to tablet screens */
@media only screen and (min-width: 768px) {
    .intro-greeting h2 {
        font-size: 10em;
    }
    .intro-details {
        width: 75%;
        align-self: center;
        max-width: 800px;
    }

    .intro-nav {
        width: 98vw;
        height: 80vh;
        margin: 5vh 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .menu-link {
        height: -webkit-fill-available;
        width: 28vw;
    }
    
    .nav-details {
        width: 80%;
        align-self: center;
        color: #f5deb3;
        font-size: 1.2em;
    }

    .landing-page .descr-box {
        font-size: 1.4em;
    }

    .landing-page .scroll-tip {
        bottom: 10%;
        right: -15%;
    }

    .background-text {
        font-size: 5em;
    }

    .descr-box {
        max-width: 500px;
        align-self: center;
    }

    .contacts-main .descr-box {
        margin: 0;
    }

    .contacts-main {
        grid-column-end: 5;
        display: flex;
        justify-content: center;
    }

    .section-title h2 {
        font-size: 3em;
    }

    .section-title p {
        width: 35%;
        margin-left: 60%;
        margin-right: 2%;
        font-size: 1.2em;
    }

    .about-skills > *, .about-core > * {
        font-size: 1.2em;
        margin: 6% 5%;
    }

    .page-footer {
        margin: 0;
    }
}

/* Extending to larger laptop screens */
@media only screen and (min-width: 1024px) {
    .landing-page .scroll-tip {
        bottom: 10%;
        right: 0%;
    }

    .landing-page {
        flex-direction: row;
    }

    .intro-greeting {
        width: 90%;
        background: url("../images/graphics/Astronauts_2.jpg");
        background-size: cover;
        background-position: center;
    }

    .intro-greeting h2 {
        font-size: 12em;
        text-align: right;
    }

    .intro-details {
        width: 70vw;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        bottom: 0;
    }

    .landing-page .descr-box {
        margin: 5%;
        font-size: 1.6em;
        width: 80%;
        align-self: center;
        text-align: center;
    }

    .name-box span {
        font-size: 2.4em;
    }

    .name-box h1 {
        font-size: 5.5em;
        margin-bottom: 10%;;
    }

    .nav-details h3 {
        font-size: 1.6em;
    }

    .main-about .background-text {
        display: inline-block;
        width: 70%;
    }

    .summary {
        grid-template: auto/40% 60%;
    }

    .background-text {
        grid-column: 1;
    }

    .section-title {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .section-info {
        grid-row: 2;
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .about-core, .about-skills {
        margin-left: 0;
    }

    .descr-box {
        font-size: 1.4em;
        line-height: 1.4em;
        margin-left: 5%;
        margin-right: 15%;
    }

    .about-main .descr-box {
        max-width: 700px;
    }

    .main-about .background-text {
        width: 96%;
        color: #404040c7;
        background-image: url("../images/graphics/Astronauts_2.jpg");
        background-size: cover;
        background-position: center;
    }

    .background-text {
        font-size: 6em;
    }

    .about-skills > *, .about-core > * {
        font-size: 1.2em;
        margin: 6% 8% 6% 0%;
    }
}




















/* Extending to larger laptop screens */


@media only screen and (min-width: 4444px) {




    .arrow-img {
        width: 25%;
        max-width: 55px;
    }

    .scroll-tip {
        display: flex;
        justify-content: space-around;
        transform: rotate(90deg);
        position: absolute;
        bottom: 10%;
        right: 5%;
    }

    .scroll-tip .tip-text {
        font-size: 1.2em;
    }

    .intro-nav {
        width: 60%;
        height: 78vh;
        margin: 12vh 20% 10vh 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-link {
        background: #171717;
        background: #090909;
        background: #151515;
        background-image: url("../images/graphics/dark-mosaic.png");
        background-size: cover;
        height: 22vh;
        display: flex;
        justify-content: center;
    }

    .nav-details {
        width: 75%;
        align-self: center;
        color: #f5deb3;
        font-size: 1.2em;
        letter-spacing: 2px;
    }

    .nav-details h3{
        font-size: 1.5em;
        color: #d70757;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    .section-title {
        display: block;
        text-align: right;
        margin-right: 2%;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .section-title h2 {
        font-size: 4em;
        margin: 0;
        color: #d70757;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .section-title p {
        width: 30%;
        margin-left: 65%;
        margin-right: 2%;
        font-size: 1.2em;
        letter-spacing: 2px;
        line-height: 1.8em;
        background: #380013;
        padding: 2%;
    }

    .section-info {
        grid-row: 3;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .about-core, .about-skills {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contacts-main {
    }

    .about-skills > * {
        flex: 1 1 34%;
        font-size: 1.2em;
        letter-spacing: 2px;
        margin: 5% 4% 4% 4%;
    }

    .about-core > *{
        flex: 1 1 40%;
        font-size: 1.1em;
        letter-spacing: 2px;
        margin: 5% 4% 4% 4%;
    }

    .skills-list {
        padding-left: 15%;
        margin-left: 5%;
        margin-top: 2%;
    }

    .contact-links{
        grid-row: 4;
        grid-column: 2;
        width: 70%;
        align-self: center;
        position: relative;
        left: 10%;
        display: grid;
        grid-template: 45% 45% / 100%;
        grid-row-gap: 25%;
    }

    .mail-box {
        width: fit-content;
        align-self: center;
        justify-self: center;
        padding: 3% 12%;
        border-radius: 50px;
        background: #d70757;
        text-decoration: none;
        color: #f5deb3;
        font-size: 1.4em;
    }

    .social-links {
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: space-around;
    }

    .social-links a {
        margin: 5% 7%;
    }

    .mail-box:hover {
        background: #404040;
    }

    



















    /*BEFORE*/
    .intro-greeting {
        width: 80%;
        margin-left: 10%;
    }

    .intro-greeting h2 {
        text-align: center;
        font-size: 10em;
        color: #d70757;
    }

    .intro-details {
        width: 84%;
        margin: 0% 8%;
        position: relative;
        bottom: 4%;
        background: #000000f0;
        background-image: url("../images/graphics/dark-mosaic.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    .name-box {
        margin-left: 20%;
    }

    .name-box h1 {
        font-size: 5.5em;
        letter-spacing: 2px;
        text-align: center;
        display: inline-block;
        margin-bottom: 5%;
    }

    .name-box span{
        font-size: 2.5em;
        display: inline-block;
        transform: rotate(-90deg);
        position: relative;
        bottom: 5%;
    }

    .descr-box {
        font-size: 1.2em;
        letter-spacing: 2px;
        margin-left: 20%;
        margin-right: 15%;
    }

    .section-info .descr-box {
        margin-left: 5%;
        margin-right: 15%;
    }

    .highlight-text {
        color: #00e7bf;
        color: #d70757;
        font-weight: 700;
    }

     /*.main-about, .main-core, .main-skills {
        height: 90vh;
        padding: 5vh 0;
        margin: 5% 0;
        display: flex;
        flex-direction: column;
    } */

    .summary {
        height: 100vh;
        /*padding: 5vh 0;*/
        margin: 5% 0;
        display: grid;
        grid-template: 15% 10% 70%/ 25% 55% 10% 10%;
        grid-template: auto / 25% 55% 10% 10%;
        grid-column-gap: 0;
        grid-row-gap: 0%;  
    }

    .background-text {
        font-size: 3.6em;
        letter-spacing: 2px;
        color: #404040;
        /*position: relative;
        left: 3%;
        bottom: 4%;*/
        grid-column: 1;
        grid-row: 1;
        grid-row-start: 2;
        grid-row-end: 4;
        overflow-wrap: break-word; 
    }

    .background-text p {
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 10%;
    }
}
