/* NAVIGATION STYLE SHEET */

/* Separated sheet for experimentation. */

.nav-container {
    /* background: #0f1210; */
    text-decoration: none;
    position: fixed;
    width: 100vw;
    top: 0%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    width: fit-content;
    height: 100%;
    margin: auto 0%;
    margin-left: 4px;
    text-decoration: none;
}

.brand-logo .img-icon {
    width: 90%;
    height: auto;
    max-width: 58px;
    min-width: 50px;
    margin-top: 4px;
    padding: 5px 10px;
    background-color: #151515;
    background-color: var(--theme_col7); 
    box-shadow: 2px 2px 10px 0px #000000d6;
}

.menu-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-left: 5px;
    background-color: var(--background_col2);
    box-shadow: 8px 2px 10px 0px #000;
}

.burger-right {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}

.nav-link {
    color: var(--theme-col0, #000457);
    text-align: center;
    align-self: center;
    font-weight: 700;
}

.scrollDown {
    top: -55px;
    transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);   
}

@media only screen and (min-width: 768px) {
}
